@import url(https://fonts.googleapis.com/css?family=Gruppo);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html {
	background: url(../img/bg.jpg) center center no-repeat fixed;
	background-size: cover;
	min-height: 100%;
	font-family: Verdana, Helvetica, Arial, sans-serif;
}

#info {
	position: absolute;
	bottom: 12%;
	width: 100%;
	background-color: rgba(0,0,0,0.7);
	padding: 10px 0 10px 0;
}

#block {
	margin-left: 12%;
}

#logo { float: left }
#logo img {
	border-radius: 50%;
	width: 140px;
}

#cont {
	position: absolute;
	top: 50%;
	height: 60px;
	margin-top: -40px;
	margin-left: 160px;
	color: #fff;
}

h1 {
	font-family: 'Gruppo', normal;
	font-weight: 400;
	font-size: 350%;
	text-shadow: 0 1px 0 rgba(0,0,0,0.7);
}
